---
import type { CollectionEntry } from "astro:content";
import { Temporal } from "temporal-polyfill";

import { calendar } from "../locale";
import { slugToYearMonth } from "../utils";

interface Props {
	entry: CollectionEntry<"timeline">;
}

const { entry } = Astro.props;

const MY_BIRTHDAY = Temporal.PlainYearMonth.from({
	year: 2003,
	month: 4,
	calendar,
});

const date = slugToYearMonth(entry.slug);
const duration = date.since(MY_BIRTHDAY);
// 月の差が0(誕生月)のときは基本誕生日前の出来事なので-1する
const yearsOld =
	duration.months === 0 ? Math.max(duration.years - 1, 0) : duration.years;

const { Content } = await entry.render();
---

<li class="group relative py-2 pl-4">
	<span
		role="presentation"
		class="absolute bottom-0 left-[calc(0px-1px/2)] top-0 w-px bg-white group-first:top-[16px] group-last:bottom-[calc(100%-16px)]"
	></span>
	<span
		role="presentation"
		class="absolute left-[calc(0px-8px/2)] top-[16px] h-[8px] w-[8px] rounded-full bg-white"
	></span>
	<time datetime={date.toString()}>
		{date.toLocaleString("ja-JP")}
		({yearsOld}歳)
	</time>
	<h3 class="mb-[0.125em] text-2xl">{entry.data.title}</h3>
	<Content />
</li>
