---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { Temporal } from "temporal-polyfill";

import { calendar } from "../locale";
import { slugToYearMonth } from "../utils";

interface Props {
	entry: CollectionEntry<"timeline">;
}

const { entry } = Astro.props;

const MY_BIRTHDAY = Temporal.PlainYearMonth.from({
	year: 2003,
	month: 4,
	calendar,
});

const date = slugToYearMonth(entry.slug);
const duration = date.since(MY_BIRTHDAY);
// 月の差が0(誕生月)のときは基本誕生日前の出来事なので-1する
const yearsOld =
	duration.months === 0 ? Math.max(duration.years - 1, 0) : duration.years;

const { Content } = await entry.render();
---

<li class="group relative py-2 pl-4">
	<span
		role="presentation"
		class="absolute bottom-[-8px] left-[calc(0px-1px/2)] top-[36px] w-px bg-white group-last:hidden"
	></span>
	<Icon
		name="star"
		role="presentation"
		class="animate-duration-[5s] absolute left-[calc(0px-16px/2)] top-[14px] size-[16px] animate-spin"
	/>
	<time datetime={date.toString({ calendarName: "never" })}>
		{date.toLocaleString("ja-JP")}
		({yearsOld}歳)
	</time>
	<h3 class="text-2xl">{entry.data.title}</h3>
	<Content />
</li>
