---
import { getCollection } from "astro:content";
import { Temporal } from "temporal-polyfill";

import Heading from "@/components/Heading.astro";

const entries = await getCollection("timeline").then((entries) =>
	entries.sort(
		(a, b) =>
			-Temporal.PlainYearMonth.compare(
				Temporal.PlainYearMonth.from(a.data.startedAt),
				Temporal.PlainYearMonth.from(b.data.startedAt),
			),
	),
);
---

<section class="container mx-auto flex flex-col items-center gap-8 px-4">
	<Heading>
		Timeline
		<Fragment slot="ja">これまでの経歴</Fragment>
	</Heading>
	<ul class="grid w-full gap-6">
		{
			entries.map((entry) => (
				<li>
					<h2>{entry.data.title}</h2>
					<p>{entry.data.description}</p>
				</li>
			))
		}
	</ul>
</section>
