---
import { getCollection } from "astro:content";

import Heading from "@/components/Heading.astro";

import Entry from "./Entry.astro";

const entries = await getCollection("timeline").then((entries) =>
	entries.sort((a, b) => a.slug.localeCompare(b.slug)),
);
---

<section>
	<Heading>Timeline</Heading>
	<ul>
		{entries.map((entry) => <Entry entry={entry} />)}
	</ul>
</section>
