---

---

<section class="relative grid h-svh w-full place-items-center">
	<div class="font-heading drop-shadow-neon grid justify-center gap-6">
		<hgroup class="text-center">
			<h1 class="text-[4rem] leading-tight max-sm:text-[2rem]">
				Shuntaro Nishizawa
			</h1>
			<p class="text-[2rem] leading-tight max-sm:text-xl">
				<span class="text-[0.8em]">しゅん</span> / SHUN
			</p>
		</hgroup>
		<p class="text-center text-2xl leading-tight max-sm:text-xl">
			Web Frontend Developer
		</p>
	</div>
</section>
