---
import { Icon } from "astro-icon/components";

import Links from "./Links.astro";
---

<section class="relative grid h-svh w-full place-items-center">
	<div class="grid justify-items-center gap-8 text-2xl sm:text-4xl">
		<Icon name="meru" class="h-32 w-32 rounded-full sm:h-64 sm:w-64" />
		<hgroup class="text-center">
			<h1 class="text-4xl sm:text-6xl">Shuntaro Nishizawa</h1>
			<p>しゅん / SHUN</p>
		</hgroup>
		<p class="text-center">Web App Developer</p>
		<Links />
	</div>
</section>
