---
import { Icon } from "astro-icon/components";

import Links from "./Links.astro";
---

<section class="grid h-svh w-full place-items-center">
	<div class="grid justify-items-center gap-[0.5em] text-2xl sm:text-[2.5rem]">
		<Icon name="meru" class="h-32 w-32 rounded-full sm:h-64 sm:w-64" />
		<hgroup class="text-center">
			<h1 class="text-[2rem] sm:text-[4rem]">Shuntaro Nishizawa</h1>
			<p class="text-[1.5rem] leading-none sm:text-[2rem]">しゅん / shun</p>
		</hgroup>
		<p class="text-center">Web App Developer</p>
		<Links />
	</div>
</section>
