---
import { Icon } from "astro-icon/components";

const links = [
	{
		title: "GitHub",
		href: "https://github.com/shun-shobon",
		icon: "simple-icons:github",
	},
	{
		title: "X",
		href: "https://x.com/shun_shobon",
		icon: "simple-icons:x",
	},
	{
		title: "Blog",
		href: "https://blog.s2n.tech",
		icon: "lucide:pencil-line",
	},
];
---

<ul class="flex gap-6">
	{
		links.map((link) => (
			<li>
				<a
					href={link.href}
					target="_blank"
					class="transition-colors duration-200 ease-in-out hover:text-sky-400"
				>
					<Icon name={link.icon} aria-label={link.title} />
				</a>
			</li>
		))
	}
</ul>
