$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
) !default;

@mixin mq($breakpoint: md) {
  @media screen and (min-width: #{map_get($breakpoints, $breakpoint)}) {
    @content;
  }
}
