<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SHUN's Portfolio</title>
    <meta name="description" content="This is portfolio for SHUN." />
    <meta property="og:title" content="SHUN's Portfolio" />
    <meta property="og:description" content="This is portfolio for SHUN." />
    <meta property="og:image" content="<%- baseUrl %>/assets/icon.webp" />
    <meta property="og:image:alt" content="icon" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="<%- baseUrl %>" />
    <link rel="canonical" href="https://shun.technology" />

    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/manifest.webmanifest" />
    <meta name="theme-color" content="#278fdc" />
  </head>
  <body>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
