---
import PostItem from "@/features/posts/PostItem.astro";
import { getPosts } from "@/features/posts/repository";
import BasicLayout from "@/layouts/BasicLayout.astro";

const { posts } = await getPosts({
	draft: true,
});
---

<BasicLayout title="記事一覧">
	<div class="px-4 pb-4 sm:px-8 sm:pb-8">
		<div class="mx-auto grid w-full max-w-4xl gap-4 sm:gap-8">
			<h1 class="text-center text-2xl font-bold sm:text-4xl">記事一覧</h1>
			<div
				class="rounded-2xl border border-border bg-background-primary p-4 shadow-lg sm:px-8 sm:py-6"
			>
				{posts.map((post) => <PostItem post={post} />)}
			</div>
		</div>
	</div>
</BasicLayout>
