---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import Footer from "@/features/footer/Footer.astro";
import Entry from "@/features/works/Entry.astro";
import Layout from "@/layouts/Layout.astro";

export const getStaticPaths = (async () => {
	const entries = await getCollection("works");

	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
---

<Layout>
	<main class="mx-auto w-full max-w-prose p-4">
		<Entry {entry} />
	</main>
	<Footer />
</Layout>
