---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Temporal } from "temporal-polyfill";

import Heading from "@/components/Heading.astro";

const entries = await getCollection("works").then((entries) =>
	entries.sort(
		(a, b) =>
			-Temporal.PlainDate.compare(
				Temporal.PlainDate.from(a.data.date),
				Temporal.PlainDate.from(b.data.date),
			),
	),
);
---

<section class="container mx-auto flex flex-col items-center gap-8 px-4">
	<Heading>
		Works
		<Fragment slot="ja">作ったもの</Fragment>
	</Heading>
	<div class="grid w-full gap-12 max-lg:gap-8 sm:grid-cols-2 2xl:grid-cols-3">
		{
			entries.map((entry) => (
				<article class="relative">
					<div class="shadow-neon flex h-full flex-col gap-2 overflow-hidden rounded-tl-2xl rounded-tr-4xl rounded-br-2xl rounded-bl-4xl border pb-6">
						<Image
							src={entry.data.image}
							alt=""
							widths={[300, 600, 1200, entry.data.image.width]}
							sizes="auto"
							quality="low"
							draggable="false"
							class="aspect-video h-auto w-full object-cover"
						/>
						<div class="text-shadow-neon flex grow flex-col gap-1 px-6 max-lg:px-4">
							<h3 class="text-[1.5rem] leading-normal font-semibold max-lg:text-xl">
								{entry.data.title}
							</h3>
							<p class="grow leading-tight">{entry.data.description}</p>
						</div>
					</div>

					<div class="shadow-neon absolute top-4 right-0 w-32 translate-x-[30%] rotate-[35deg] rounded-full border max-lg:w-24" />
					<div class="shadow-neon absolute bottom-4 left-0 w-32 translate-x-[-30%] rotate-[35deg] rounded-full border max-lg:w-24" />
				</article>
			))
		}
	</div>
</section>
