---
import Tag from "@/components/Tag.astro";

import type { Post } from "./repository";

interface Props {
	post: Post;
}

const { post } = Astro.props;

const url = `/posts/${post.id.split("/")[0]}`;

const intl = new Intl.DateTimeFormat("ja-JP");
---

<article
	class="grid gap-1 border-b border-border py-4 first:pt-0 last:border-b-0 last:pb-0"
>
	<h2 class="text-lg leading-tight font-bold">
		<a href={url}>{post.data.title}</a>
	</h2>
	{
		post.data.publishedAt ? (
			<time
				datetime={post.data.publishedAt}
				class="text-xs text-text-secondary"
			>
				{intl.format(new Date(post.data.publishedAt))}
			</time>
		) : (
			<span class="text-xs text-text-secondary">未公開</span>
		)
	}
	<div class="flex flex-wrap items-center gap-2">
		{post.data.tags.map((tag) => <Tag tag={tag} />)}
	</div>
</article>
