@import "tailwindcss";
@plugin "tailwindcss-animated";
@plugin "@tailwindcss/typography";

@theme {
	--font-cursive: var(--font-family-caveat), cursive, sans-serif;
	/* --font-about-sans-serif: var(--font-family-zen-maru-gothic), sans-serif; */
	--font-about-sans-serif: "Zen Maru Gothic", sans-serif;
	--font-weight-normal: normal;
	--font-weight-bold: bold;

	--color-text-primary: var(--color-neutral-800);
	--color-text-secondary: var(--color-neutral-600);
	--color-background-primary: var(--color-white);
	--color-background-secondary: var(--color-neutral-100);
	--color-background-tertiary: var(--color-neutral-200);
	--color-border: var(--color-neutral-100);

	--bg-grid:
		linear-gradient(
			0deg,
			transparent calc(100% - 1px),
			var(--color-border) calc(100% - 1px)
		),
		linear-gradient(
			90deg,
			transparent calc(100% - 1px),
			var(--color-border) calc(100% - 1px)
		);
	--bg-night-sky: linear-gradient(
		180deg,
		#21292d 50%,
		#21272f 62.5%,
		#212d3b 75%,
		#213a4e 87.5%,
		#285d76 100%
	);

	--leading-*: initial;
	--leading-tight: 1.25;
	--leading-normal: 1.5;
	--leading-relaxed: 2;
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}
