@import "tailwindcss";
@plugin "tailwindcss-animated";
@plugin "@tailwindcss/typography";

@theme {
	--font-cursive: var(--font-family-caveat), cursive, sans-serif;

	--color-text-primary: var(--color-neutral-800);
	--color-text-secondary: var(--color-neutral-600);
	--color-background-primary: var(--color-white);
	--color-background-secondary: var(--color-neutral-100);
	--color-background-tertiary: var(--color-neutral-200);
	--color-border: var(--color-neutral-100);

	--bg-grid:
		linear-gradient(
			0deg,
			transparent calc(100% - 1px),
			var(--color-border) calc(100% - 1px)
		),
		linear-gradient(
			90deg,
			transparent calc(100% - 1px),
			var(--color-border) calc(100% - 1px)
		);

	--leading-*: initial;
	--leading-tight: 1.25;
	--leading-normal: 1.5;
	--leading-relaxed: 2;
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}
