---
import About from "@/features/about/About.astro";
import Footer from "@/features/footer/Footer.astro";
import Hero from "@/features/hero/Hero.astro";
import Timeline from "@/features/timeline/Timeline.astro";
import WorksList from "@/features/works/WorksList.astro";
import Layout from "@/layouts/Layout.astro";

import * as styles from "./index.css";
---

<Layout>
	<main>
		<Hero />
		<div class={styles.contents}>
			<About />
			<Timeline />
			<WorksList />
		</div>
	</main>
	<Footer />
</Layout>
