---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import MeruIcon from "@/assets/meru.jpg";
import Heading from "@/components/Heading.astro";
---

<section class="container mx-auto flex flex-col items-center gap-8 px-4">
	<Heading>
		About Me
		<Fragment slot="ja">私について</Fragment>
	</Heading>
	<div
		class="drop-shadow-neon relative rounded-tl-2xl rounded-tr-[5rem] rounded-br-2xl rounded-bl-[5rem] border p-12 max-lg:rounded-tl-md max-lg:rounded-tr-4xl max-lg:rounded-br-md max-lg:rounded-bl-4xl max-lg:p-8"
	>
		<div class="flex items-center gap-x-12 gap-y-4 max-lg:flex-col">
			<div class="flex shrink-0 flex-col items-center gap-2">
				<Image src={MeruIcon} alt="" class="size-32 rounded-full sm:size-48" />

				<div class="font-heading flex flex-col items-center leading-tight">
					<p class="text-[2rem] max-lg:text-[1.5rem]">Shuntaro Nishizawa</p>
					<p class="text-[1.5rem] max-lg:text-[1.2rem]">
						<span class="text-[0.8em]">しゅん</span> / SHUN
					</p>
				</div>
			</div>

			<p class="min-w-0 text-justify text-lg leading-relaxed">
				東京農工大学で情報工学を学んでいる学生です。
				プログラミングやWebデザインが好きで、趣味や仕事でWebアプリケーション開発を行っています。
				一貫した世界観を持ったWebサイトが好きで、それを作るのを目標としています。
				また、アクセシビリティやセマンティクスにも興味を持っていて、それらを意識したWebサイトを作ることを心がけています。
				自分のスキルを活かして、誰もが同じように楽しめるようなWebサイト・Webアプリケーションを作っていきたいと思っています。
			</p>
		</div>

		<Icon
			name="stars"
			class="absolute top-0 left-0 size-16 translate-x-[-30%] translate-y-[-40%]"
		/>
		<Icon
			name="moon"
			class="absolute right-0 bottom-0 size-16 translate-x-[20%] translate-y-[20%] rotate-[10deg]"
		/>
	</div>
</section>
