---
import Heading from "@/components/Heading.astro";
---

<section>
	<Heading>About me</Heading>
	<p>
		長野高専で情報工学を学んでいる学生です。
		プログラミングやWebデザインが好きで、趣味や仕事でWebアプリケーション開発を行っています。
		一貫した世界観を持ったWebサイトを作るのが好きで、それを目標としています。
		またアクセシビリティやセマンティクスにも興味を持っていて、それらを意識したWebサイトを作ることを心がけています。
		自分もスキルを活かして、誰もが同じように楽しめるようなWebサイト・Webアプリケーションを作っていきたいと思っています。
	</p>
</section>
