---
import Heading from "@/components/Heading.astro";
---

<section>
	<Heading>About Me</Heading>
	<p
		class="text-center leading-loose *:break-keep *:[line-break:strict] *:[overflow-wrap:anywhere]"
	>
		<span>東京農工大学で情報工学を学んでいる学生です。</span>
		<span
			>プログラミングやWebデザインが好きで、<wbr
			/>趣味や仕事でWebアプリケーション開発を<wbr />行っています。</span
		>
		<span
			>一貫した世界観を持ったWebサイトが好きで、<wbr
			/>それを作るのを目標としています。</span
		>
		<span
			>また、アクセシビリティやセマンティクスにも<wbr />興味を持っていて、<wbr
			/>それらを意識したWebサイトを作ることを心がけています。</span
		>
		<span
			>自分のスキルを活かして、<wbr
			/>誰もが同じように楽しめるようなWebサイト・<wbr
			/>Webアプリケーションを<wbr />作っていきたいと思っています。</span
		>
	</p>
</section>
