---

---

<footer class="w-full border-t border-dashed p-4">
	<div class="mx-auto grid w-full max-w-4xl gap-4 sm:gap-8">
		<div class="text-center text-sm">
			<p>Copyright © 2025 Shuntaro Nishizawa</p>
		</div>
	</div>
</footer>
