---
import { Icon } from "astro-icon/components";
---

<h2 class="about-heading relative grid gap-1">
	<span
		class="about-heading-text text-center font-cursive text-6xl leading-none [text-box:trim-both_cap_alphabetic]"
		lang="en"><slot /></span
	>

	<!-- 月の区切り線 -->
	<div
		class="about-heading-line flex items-center gap-1 pr-1 pl-3"
		role="presentation"
	>
		<span class="grow rounded-full border [filter:url(#heading-line-filter)]"
		></span>
		<Icon class="size-2" name="moon" />
		<span class="grow rounded-full border [filter:url(#heading-line-filter)]"
		></span>
	</div>

	<span
		class="about-heading-ja text-center text-xs leading-none font-bold [text-box:trim-both_cap_alphabetic]"
		><slot name="ja" /></span
	>

	<!-- 流れ星 -->
	<div
		role="presentation"
		class="absolute top-0 left-1 translate-x-[-50%] translate-y-[-50%]"
	>
		<div class="rotate-[-30deg]">
			<div class="about-heading-star flex items-center gap-0.5">
				<Icon name="4star" class="size-1.5" />
				<span class="w-8 rounded-full border"></span>
			</div>
		</div>
	</div>
	<div
		role="presentation"
		class="absolute -right-1 bottom-3 translate-x-[50%] translate-y-[50%]"
	>
		<div class="rotate-[-30deg]">
			<div class="about-heading-star flex items-center gap-0.5">
				<Icon name="4star" class="size-1.5" />
				<span class="w-8 rounded-full border"></span>
			</div>
		</div>
	</div>
</h2>
<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	const headings = document.querySelectorAll(".about-heading");
	[...headings].forEach((heading) => {
		const stars = heading.querySelectorAll(".about-heading-star")!;

		gsap.from(heading, {
			scrollTrigger: {
				trigger: heading,
				start: "bottom bottom",
				end: "bottom top",
			},
			opacity: 0,
			ease: "power3.out",
			duration: 1.0,
			delay: 0.5,
		});

		gsap.from(stars, {
			scrollTrigger: {
				trigger: heading,
				start: "bottom bottom",
				end: "bottom top",
			},
			opacity: 0,
			translateX: "100%",
			duration: 0.8,
			ease: "power4.out",
			delay: 1.1,
			stagger: 0.1,
		});
	});
</script>
