---
import { Icon } from "astro-icon/components";

import Heading from "./Heading.astro";

const LINKS = [
	{
		href: "https://x.com/shun_shobon",
		icon: "simple-icons:x",
		label: "X",
	},
	{
		href: "https://github.com/shun-shobon",
		icon: "simple-icons:github",
		label: "GitHub",
	},
	{
		href: "https://zenn.dev/shun_shobon",
		icon: "simple-icons:zenn",
		label: "Zenn",
	},
];
---

<section class="mx-auto flex flex-col items-center gap-8 px-4 sm:px-8">
	<Heading>Links<Fragment slot="ja">リンク集</Fragment></Heading>
	<div class="grid w-full max-w-4xl grid-cols-3 justify-center gap-8">
		{
			LINKS.map((link) => (
				<a
					href={link.href}
					target="_blank"
					class="flex flex-col items-center gap-2"
				>
					<Icon name={link.icon} class="size-8" />
					<span>{link.label}</span>
				</a>
			))
		}
	</div>
</section>
