---
import StarrySkyBackground from "@/components/StarrySkyBackground.astro";
import About from "@/features/about/About.astro";
import Footer from "@/features/footer/Footer.astro";
import Hero from "@/features/hero/Hero.astro";
import Timeline from "@/features/timeline/Timeline.astro";
import WorksList from "@/features/works/WorksList.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<StarrySkyBackground />
	<main>
		<Hero />
		<div>
			<div class="mx-auto grid w-full max-w-prose gap-16 p-4">
				<About />
				<Timeline />
				<WorksList />
			</div>
			<Footer />
		</div>
	</main>
</Layout>
