---
import { Image } from "astro:assets";

import MyIcon from "@/assets/my-icon.png";
---

<header
	class="flex w-full max-w-sm items-center justify-between rounded-full border border-border bg-background-primary p-2 pr-6 font-cursive shadow-lg"
>
	<a href="/" class="flex items-center gap-1">
		<Image
			src={MyIcon}
			alt=""
			class="size-8 rounded-full border border-border"
			widths={[32, 64]}
			sizes="32px"
		/>
		<span class="text-2xl font-bold">s2n.tech</span>
	</a>
	<nav>
		<ul class="flex items-center gap-4 text-lg font-bold">
			<li>
				<a href="/">About</a>
			</li>
			<li>
				<a href="/posts">Posts</a>
			</li>
			<li>
				<a href="/tags">Tags</a>
			</li>
		</ul>
	</nav>
</header>
