---
import { Icon } from "astro-icon/components";
---

<h2 class="drop-shadow-neon grid gap-1">
	<span
		class="font-heading text-center text-[4rem] leading-none font-bold tracking-[0.12rem] uppercase [text-box:trim-both_cap_alphabetic]"
		lang="en"
	>
		<slot />
	</span>

	{/* 月の区切り線 */}
	<div role="presentation" class="flex items-center gap-1 px-6">
		<span class="grow rounded-full border"></span>
		<Icon class="size-2" name="moon" />
		<span class="grow rounded-full border"></span>
	</div>

	<span
		class="text-center text-[0.75rem] leading-none font-bold tracking-[0.0225rem] [text-box:trim-both_cap_alphabetic]"
	>
		<slot name="ja" />
	</span>

	{/* 流れ星の装飾 */}
	<div
		role="presentation"
		class="absolute top-0 left-0 flex translate-x-[-50%] translate-y-[-70%] rotate-[-30deg] items-center gap-1"
	>
		<Icon class="size-4" name="star" />
		<span class="w-12 rounded border"></span>
	</div>
	<div
		role="presentation"
		class="absolute right-0 bottom-0 flex translate-x-[50%] translate-y-[-20%] rotate-[-30deg] items-center gap-1"
	>
		<Icon class="size-4" name="star" />
		<span class="w-12 rounded border"></span>
	</div>
</h2>
