@use "../../scss/color";

$size: 40vmax;
$tight: 0.5rem;
$first-delay: 500;
$parts-duration: 500;

$sqrt3: 1.73205080757;

.hexagon {
  position: absolute;
  width: $size;

  &::before {
    display: block;
    padding-top: percentage(3 / $sqrt3);
    content: '';
  }

  .hexagon__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before,
    &::after {
      position: absolute;
      right: 100%;
      left: 100%;
      height: $tight;
      content: '';
      background-color: color.$second-color;
      animation-duration: #{$parts-duration * 10}ms;
      animation-play-state: running;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

    &::before {
      top: 0;
      animation-name: stretch-before;
    }

    &::after {
      bottom: 0;
      animation-name: stretch-after;
    }

    @for $i from 0 to 3 {
      &:nth-child(#{$i + 1}) {
        transform: rotate(60deg * $i);

        &::before {
          animation-delay: #{$first-delay + $parts-duration * $i}ms;
        }

        &::after {
          animation-delay: #{$first-delay + $parts-duration * ($i + 3)}ms;
        }
      }
    }
  }
}

@keyframes stretch-before {
  0% {
    right: 100%;
    left: 0;
  }

  10% {
    right: 0;
    left: 0;
  }

  90% {
    right: 0;
    left: 0;
  }

  100% {
    right: 0;
    left: 100%;
  }
}

@keyframes stretch-after {
  0% {
    right: 0;
    left: 100%;
  }

  10% {
    right: 0;
    left: 0;
  }

  90% {
    right: 0;
    left: 0;
  }

  100% {
    right: 100%;
    left: 0;
  }
}
