@use "../../scss/color";
@use "../../scss/media-query";

.title {
  font-size: 2rem;
  font-weight: 100;
  color: color.$primary-text-color;

  span {
    color: color.$third-color;
  }
}

@include media-query.media-query(sm) {
  .title {
    font-size: 3rem;
  }
}

@include media-query.media-query(md) {
  .title {
    font-size: 5rem;
  }
}
