.hexagon-background {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  place-items: center;

  div {
    &:first-child {
      transform: translate(-30vmax, -20vmax);
    }

    &:last-child {
      transform: translate(40vmax, 22vmax);
    }
  }
}
