---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

import Layout from "./Layout.astro";

interface Props {
	title?: string;
	class?: string;
}

const { title, class: className } = Astro.props;
---

<Layout
	title={title}
	class:list={[
		"bg-background-primary grid grid-rows-[auto_1fr_auto] bg-(image:--bg-grid) bg-size-[48px_48px] bg-center bg-repeat",
		className,
	]}
>
	<div class="sticky top-0 isolate flex justify-center p-4 sm:p-8">
		<Header />
	</div>
	<div class="min-h-full">
		<slot />
	</div>
	<Footer />
</Layout>
