---
// import "@/styles/global.css";

import { Image } from "astro:assets";

import Background from "@/assets/background.jpg";
import Analytics from "@/components/Analytics.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />

		{/* Google Font */}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap"
			rel="stylesheet"
		/>

		{/* SEO */}
		<title>
			{title ?? "Shuntaro Nishizawa - Web App Delopver"}
		</title>
		<meta
			name="description"
			content="学生WebエンジニアShuntaro Nishizawaのポートフォリオサイトです。略歴や制作物などを掲載しています。"
		/>
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" type="application/xml" />

		{/* OGP */}
		<meta property="og:title" content="Shuntaro Nishizawa - Web App Delopver" />
		<meta
			property="og:description"
			content="学生WebエンジニアShuntaro Nishizawaのポートフォリオサイトです。略歴や制作物などを掲載しています。"
		/>
		<meta property="og:url" content="https://s2n.tech" />
		<meta property="og:image" content="https://s2n.tech/og-image.png" />
		<meta property="og:type" content="website" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:title"
			content="Shuntaro Nishizawa - Web App Delopver"
		/>
		<meta
			property="twitter:description"
			content="学生WebエンジニアShuntaro Nishizawaのポートフォリオサイトです。略歴や制作物などを掲載しています。"
		/>
		<meta property="twitter:image" content="https://s2n.tech/og-image.png" />
		<meta property="twitter:site" content="@shun_shobon" />

		{/* Analytics */}
		<Analytics
			gtagId={import.meta.env.PUBLIC_GTAG_ID}
			cfWebAnalyticsToken={import.meta.env.PUBLIC_CF_WEB_ANALYTICS_TOKEN}
		/>
	</head>
	<body class="min-h-dvh font-zen text-white">
		<Image
			src={Background}
			alt=""
			quality={85}
			class="fixed inset-0 -z-10 h-full w-full bg-[linear-gradient(to_bottom,#000912,#001E30,#2D4556)] object-cover"
			widths={[Background.width / 4, Background.width / 2, Background.width]}
			sizes="100vw"
		/>
		<slot />
	</body>
</html>
