---
import "@/styles/global.css";

import GoogleTagManager from "@/components/GoogleTagManager.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />

		{/* Google Tag Manager */}
		<GoogleTagManager />

		{/* Google Font */}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap"
			rel="stylesheet"
		/>

		{/* SEO */}
		<title>
			{title ?? "Shuntaro Nishizawa - Web App Delopver"}
		</title>
		<meta
			name="description"
			content="学生WebエンジニアShuntaro Nishizawaのポートフォリオサイトです。略歴や制作物などを掲載しています。"
		/>
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" type="application/xml" />
	</head>
	<body>
		<slot />
	</body>
</html>
