name: Check
on:
  push:

permissions:
  contents: read

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup | Node
        uses: ./.github/actions/setup-node

      - name: Run | Sync
        run: pnpm sync

      - name: Run | Lint
        run: pnpm type-check

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup | Node
        uses: ./.github/actions/setup-node

      - name: Run | Sync
        run: pnpm sync

      - name: Run | Lint
        run: pnpm lint:ci

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup | Node
        uses: ./.github/actions/setup-node

      - name: Run | Format
        run: pnpm format:ci
